.pageSelector {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.pageSelector p {
  cursor: pointer;
  padding: 10px;
}
.pageSelector p.selected {
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.infoRow {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.infoRow > * {
    flex: 1;
}
.progressBar {
    width: 100%;
    background-color: #efebce;
    border-radius: 5px;
    height: 30px;
}
.progressBar .progressIndicator {
    background-color: #235789;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
}
.peopleRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.peopleRow a {
    text-decoration: none;
    color: inherit;
}
.peopleRow .userLink {
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.peopleRow .userLink {
    text-decoration: none;
}
.inlineInfo {
    display: flex;
    height: 200px;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0px 0px;
    align-items: center;
}
