.pageSelector {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.pageSelector p {
  cursor: pointer;
  padding: 10px;
}
.pageSelector p.selected {
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.inlineInfo {
    display: flex;
    height: 200px;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0px 0px;
    align-items: center;
}