.sidebar {
  display: flex;
}
.sidebarContent {
  width: 300px;
  min-width: 300px;
  left: -300px;
  min-height: 100vh;
  background: var(--primary-color);
  color: #fff;
  transition: left 0.3s ease-in-out;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}
.sidebar .links li {
  margin-top: 10px;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}
.sidebar .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}
.sidebar .links .active img {
  filter: invert(40%);
}
.sidebar .toggleContainer {
  background-color: var(--primary-color);
  border-radius: 0 50% 50% 0;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  z-index: 1000;
  margin-top: 20px;
}
.sidebar .toggleContainer .toggleIcon {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}
.sidebar.open .toggleContainer .toggleIcon {
  transform: rotate(180deg);
}